
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* @font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
} */



html{
	color: #000;
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	line-height: 2;
}
a{
	color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.l_container{
	width: 95%;
	margin: 0 auto;
}
.container{
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}
.m_container{
	width: 90%;
	margin: 0 auto;
	max-width: 1080px;
}
.s_container{
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
}
/* @media screen and (min-width:1540px) {
	.l_container{max-width: 1680px;}
	.container{max-width: 1480px;}
} */
@media screen and (min-width:1280px) and ( max-width:1539px) {
	html{font-size: 15px;}
	/* .container{max-width: 1280px;} */
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{font-size: 14px;}
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	html{font-size: 13px;}
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
	--brown01: #DBCBA6;
	--brown02: #D0B174;
	--brown03: #B09538;
	--brown04: #946C2B;
	--brown05: #5D3B00;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.sorts_mill_goudy{
	font-family: 'Sorts Mill Goudy', serif;
}
.ttl_wrap{
	text-align: center;
	margin-bottom: 3rem;
}
.ttl_wrap p{
	font-size: 1rem;
	font-family: 'Sorts Mill Goudy', serif;
	color: var(--brown04);
}
.ttl_wrap .ttl{
	font-size: 1.375rem;
	font-weight: 500;
}

.btn_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn_wrap .btn{
	margin-right: 2rem;
}
.btn_wrap .btn:last-of-type{
	margin-right: 0;
}
.btn{
	position: relative;
	background: #fff;
	border: solid 1px var(--brown04);
	width: 21.875rem;
}
.btn.brown{
	background: var(--brown04);
}
.btn.line{
	background: var(--line);
	border: solid 1px var(--line);
}
.btn::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transform-origin: left top;
	background: var(--brown04);
	transition: .3s;
}
.btn.brown::before,
.btn.line::before{
	background: #fff;
}
.btn:hover::before{
	width: 100%;
}
.btn a{
	position: relative;
	width: 100%;
	height: 3.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--brown04);
	font-size: 0.875rem;
	transition: .3s;
}
.btn.brown a,
.btn.line a{
	color: #fff;
}
.btn a:hover{
	color: #fff;
}
.btn.brown a:hover{
	color: var(--brown04);
}
.btn.line a:hover{
	color: var(--line);
}
.btn.line a span.icon{
	font-size: 1.75rem;
	margin-right: 1rem;
}
.btn a span.arrow{
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%) translateX(0);
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: .3s .1s;
}
.btn a:hover span.arrow{
	right: 0;
}
.btn a span.arrow .arrow_path,
.btn a span.arrow .arrow_line{
	transition: .3s;
}
.btn.brown a span.arrow .arrow_path,
.btn.line a span.arrow .arrow_path{
	fill: #fff;
	stroke: #fff;
}
.btn.brown a span.arrow .arrow_line,
.btn.line a span.arrow .arrow_line{
	stroke: #fff;
}
.btn a:hover span.arrow .arrow_path{
	fill: #fff;
	stroke: #fff;
}
.btn a:hover span.arrow .arrow_line{
	stroke: #fff;
}
.btn.brown a:hover span.arrow .arrow_path{
	fill: var(--brown04);
	stroke: var(--brown04);
}
.btn.brown a:hover span.arrow .arrow_line{
	stroke: var(--brown04);
}
.btn.line a:hover span.arrow .arrow_path{
	fill: var(--line);
	stroke: var(--line);
}
.btn.line a:hover span.arrow .arrow_line{
	stroke: var(--line);
}
.gmap iframe,
.gmap object,
.gmap embed{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.gmap iframe{
	height: 40vw;
	max-height: 500px;
	width: 100%;
}
.fadein,
.fadein02,
.fadein03{
	opacity: 0;
	transform: translateY(50px);
}
.fadedown01,
.fadedown02,
.fadedown03,
.fadedown04,
.fadedown05,
.fadedown06{
	opacity: 0;
	transform: translateY(-20px);
}
.fadein.active,
.fadein02.active,
.fadein03.active,
.fadedown01.active,
.fadedown02.active,
.fadedown03.active,
.fadedown04.active,
.fadedown05.active,
.fadedown06.active{
	opacity: 1;
	transform: translateY(0);
}
.fadein.active{ transition: opacity 1s ease, transform 0.8s ease-out; }
.fadein02.active{ transition: opacity 1s ease .5s, transform 0.8s ease-out .5s; }
.fadein03.active{ transition: opacity 1s ease .8s, transform 0.8s ease-out .8s; }
.fadedown01.active{ transition: opacity 1s ease, transform 0.8s ease-out; }
.fadedown02.active{ transition: opacity 1s ease .2s, transform 0.8s ease-out .2s; }
.fadedown03.active{ transition: opacity 1s ease .4s, transform 0.8s ease-out .4s; }
.fadedown04.active{ transition: opacity 1s ease .6s, transform 0.8s ease-out .6s; }
.fadedown05.active{ transition: opacity 1s ease .8s, transform 0.8s ease-out .8s; }
.fadedown06.active{ transition: opacity 1s ease 1s, transform 0.8s ease-out 1s; }
.deco,
.deco02{
	position: absolute;
	width: 6.25rem;
	height: 6.25rem;
	z-index: 9;
}
.deco{
	top: -4.6875rem;
	right: -4.6875rem;
}
.deco02{
	bottom: -4.6875rem;
	left: -4.6875rem;
}
.deco span,
.deco02 span{
	position: absolute;
	background: var(--brown04);
	display: block;
	opacity: 0;
}
.deco.active span,
.deco02.active span{
	animation: btmin .5s .5s ease forwards;
}
.deco span:nth-of-type(1),
.deco02 span:nth-of-type(1){
	width: 1.5625rem;
	height: 1.5625rem;
}
.deco span:nth-of-type(1){
	bottom: 1.5625rem;
	left: 1.5625rem;
}
.deco02 span:nth-of-type(1){
	top: 1.5625rem;
	left: 1.5625rem;
}
.deco span:nth-of-type(2),
.deco02 span:nth-of-type(2){
	width: 3.125rem;
	height: 3.125rem;
	top: 1.5625rem;
	left: 1.5625rem;
}
.deco span:nth-of-type(3),
.deco02 span:nth-of-type(3){
	width: 1.5625rem;
	height: 1.5625rem;
}
.deco span:nth-of-type(3){
	top: 1.5625rem;
	right: 1.5625rem;
}
.deco02 span:nth-of-type(3){
	bottom: 1.5625rem;
	right: 1.5625rem;
}
.deco.active span:nth-of-type(1){
	bottom: 0;
	left: 0;
	transition: all .5s 1s ease;
}
.deco.active span:nth-of-type(3){
	top: 0;
	right: 0;
	transition: all .5s 1.1s ease;
}
.deco02.active span:nth-of-type(1){
	top: 0;
	left: 0;
	transition: all .5s 1s ease;
}
.deco02.active span:nth-of-type(3){
	bottom: 0;
	right: 0;
	transition: all .5s 1.1s ease;
}

@keyframes btmin{
	0%{
		opacity: 0;
		transform: translateY(3.125rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
.view{ opacity: 0; }
.view.active{ opacity: 1; }
.view01.active{ transition: .5s ease .2s; }
.view02.active{ transition: .5s ease .5s; }
.view03.active{ transition: .5s ease .8s; }
.view04.active{ transition: .5s ease 1.1s; }
.view05.active{ transition: .5s ease 1.4s; }
.view06.active{ transition: .5s ease 1.7s; }
.view07.active{ transition: 1s ease 2s; }

.txt_anime .anime01,
.txt_anime .anime02{
	position: relative;
	overflow: hidden;
	line-height: 1;
}
.txt_anime .anime01::before,
.txt_anime .anime02::before{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: var(--brown04);
	transition: transform .4s cubic-bezier(.27,.98,.74,.02);
	transform: translateX(-101%);
	z-index: 2;
}
.txt_anime.white .anime01::before,
.txt_anime.white .anime02::before{
	background: #fff;
}
.txt_anime .anime02::before{
	transition-delay: .2s;
}
.txt_anime.start .anime01::before,
.txt_anime.start .anime02::before{
	transform: translateX(101%);
}
.txt_anime .anime_in{
	position: relative;
	opacity: 0;
	transition: opacity 0s .4s;
	z-index: 1;
}
.txt_anime.start .anime_in{
	opacity: 1;
}
.txt_anime.start .anime02 .anime_in{
	transition: opacity 0s cubic-bezier(.27,.98,.74,.02) .4s;
}

.cat{
	width: 8.5rem;
	padding: 0.25rem;
}
.cat.color01{
	background: var(--brown03);
	color: #fff;
}
.cat.color02{
	background: var(--brown02);
	color: #000;
}
.cat.color03{
	background: var(--brown01);
	color: #000;
}
.cat.color04{
	background: var(--brown04);
	color: #fff;
}
.cat p{
	font-size: 0.7rem;
	line-height: 1.2;
	text-align: center;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	z-index: 50000;
}
.header_in{
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background .3s;
}
.header_in.active{
	background: rgba(255,255,255,.95);
}
header .logo{
	width: 8.2rem;
	height: auto;
	line-height: 1;
	margin-left: 2.125rem;
}
header .logo img{
	width: 100%;
	height: auto;
}

header nav{
	height: 100%;
	padding: 0 2.875rem;
}
header nav ul{
	display: flex;
}
header nav ul li a{
	position: relative;
	font-size: 0.875rem;
	height: 5rem;
	display: flex;
	align-items: center;
	padding: 0 1.4375rem;
}
header nav ul li a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: .3s;
	background: var(--brown01);
	z-index: 1;
}
header nav ul li a:hover::before{
	width: 100%;
}
header nav ul li a span{
	position: relative;
	z-index: 2;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	background: var(--brown04);
	padding: 4rem 0 3rem;
	color: #fff;
}
footer a{ color: #fff; }
footer ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer ul li{
	margin-right: 5rem;
	font-size: 0.875rem;
}
footer ul li:last-of-type{
	margin-right: 0;
}
footer ul li a{
	transition: .3s;
}
footer ul li a:hover{
	color: var(--brown01);
}
footer ul li a span{
	color: var(--brown01);
	margin-right: 0.5rem;
}
footer .box{
	text-align: center;
	margin-top: 4rem;
}
footer .box .logo{
	width: 5.2rem;
	margin: 0 auto 2rem;
}
footer .box h2{
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}
footer .box .sns_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}
footer .box .sns_wrap a span{
	font-size: 1.875rem;
	margin-right: 2rem;
	transition: .3s;
}
footer .box .sns_wrap a:last-of-type span{
	margin-right: 0;
}
footer .box .sns_wrap a:hover span{
	color: var(--brown01);
}
footer .copyright{
	font-size: 0.875rem;
	margin-top: 4.75rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .mv{
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 700px;
}
.top01 .mv::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.25);
}
.top01 .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) translateY(-1.25rem);
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 700;
}
.top01 .txt .txt01{
	font-size: 1.25rem;
	letter-spacing: 0.2rem;
}
.top01 .txt h2{
	font-size: 3rem;
	letter-spacing: 0.1rem;
}
.top01 .txt h2 span{
	color: var(--brown05);
}
.top01 .txt .logo{
	width: 23rem;
	margin: 2.25rem auto 2.75rem;
}
.top01 .txt .txt02{
	font-size: 1.75rem;
	letter-spacing: 0.1rem;
}
.top01 .txt .txt02 span{
	color: var(--brown05);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 6rem 0;
}
.top02 .box01{
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
.top02 .box01 h3{
	text-align: center;
	background: var(--brown05);
	font-size: 1.3125rem;
	color: #fff;
	letter-spacing: 0.1rem;
	padding: 0.5rem 1rem;
}
.top02 .box01 .txt{
	background: #fff;
	padding: 2rem 1rem;
	text-align: center;
}
.top02 .box01 .txt .item{
	display: inline-block;
	margin: 0 auto 1.5rem;
	background: rgba(92,69,24,.05);
	border: solid 1px rgba(92,69,24,.15);
	padding: 0.25rem 1.5rem;
}
.top02 .box01 .txt .item p{
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 700;
}
.top02 .box01 .txt .item p span{
	color: #FF4C31;
	margin-right: 1rem;
}
.top02 .box01 .txt ul{
	margin: 0 2rem;
	text-align: left;
}
.top02 .box01 .txt ul li{
	list-style: disc;
	font-size: 0.875rem;
}
.top02 .box02{
	position: relative;
	margin-top: 5.625rem;
	background: rgba(219,203,166,.25);
	text-align: center;
	padding: 2.8125rem 2rem;
}
.top02 .box02 h3{
	color: #FF4C31;
	font-size: 1.75rem;
	margin-bottom: 0.75rem;
}
.top02 .box02 p{
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.top02 .box02 .bnr{
	width: 31.25rem;
	margin: 0 auto;
	border: solid 1px #000;
	transition: .3s;
}
.top02 .box02 .bnr:hover{
	opacity: .6;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 0 0 6rem;
}
.top03 .box{
	display: flex;
	justify-content: space-between;
}
.top03 .box .item{
	width: 30.5%;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.15);
}
.top03 .box .item .img img{
	width: 100%;
	height: auto;
}
.top03 .box .item .txt{
	padding: 1.5rem 1.75rem;
}
.top03 .box .item .txt h4{
	color: var(--brown04);
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 0.5rem;
	letter-spacing: 0.1rem;
}
.top03 .box .item .txt p{
	color: #333;
	letter-spacing: 0.05rem;
}
.top03 .box .item .txt p span{
	color: #FF4C31;
	font-weight: 700;
	background: linear-gradient(transparent 60%, #FFEB00 60%);;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{
	padding: 0 0 6rem;
}
.top04 .ttl_wrap{
	margin-bottom: 2.5rem;
}
.top04 .copy p{
	text-align: center;
}
.top04 .needs{
	width: 25rem;
	height: 26.865rem;
	margin: 2.5rem auto 4rem;
	position: relative;
}
.top04 .needs .img{
	position: absolute;
	top: 0;
	left: 0;
}
.top04 .item{
	position: relative;
	margin-top: 3.1875rem;
}
.top04 .item:first-of-type{
	margin-top: 0;
}
.top04 .item .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	border: solid 1px #fff;
	border-top: none;
	max-width: 1080px;
	width: 90%;
	height: 75%;
	min-height: 278.5px;
}
.top04 .item .txt .num{
	position: relative;
	font-size: 1.75rem;
	text-align: center;
	margin-top: -1.75rem;
}
.top04 .item .txt .num::before,
.top04 .item .txt .num::after{
	position: absolute;
	content: '';
	top: 50%;
	width: 47%;
	height: 1px;
	background: #fff;
}
.top04 .item .txt .num::before{
	left: 0;
}
.top04 .item .txt .num::after{
	right: 0;
}
.top04 .item .txt .txt_in{
	max-width: 800px;
	width: 90%;
	height: 90%;
	margin: -0.875rem auto 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.top04 .item .txt .txt_in h4{
	font-size: 2rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}
.top04 .item .txt .txt_in p{
	font-size: 1.125rem;
	letter-spacing: 0.05rem;
}

.top04 .btn_wrap{
	margin-top: 2.5rem;
}
.top04 .btn_wrap .btn{
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 0 0 7.5rem;
}
.top05 .box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top05 .box .service_img{
	position: relative;
	min-width: 300px;
	width: 100%;
	height: 23.246875rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top05 .box .service_img .img{
	position: absolute;
}
.top05 .box .txt{
	padding-left: 3rem;
}
.top05 .box .txt h4{
	font-size: 2rem;
	line-height: 1.8;
	color: var(--brown04);
	margin-bottom: 2.25rem;
	letter-spacing: 0.1rem;
}
.top05 .box .txt p{
	font-size: 1.125rem;
}
.top05 .box02{
	background: rgba(219,203,126,.3);
	padding: 5.375rem 0;
	margin-top: 5.25rem;
}
.top05 .box02 .m_container{
	position: relative;
}
.top05 .box02 .deco{
	top: -10.0625rem;
}
.top05 .box02 .deco02{
	bottom: -10.0625rem;
}
.top05 .box02_in{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top05 .box02 .item{
	width: 46.5%;
	background: #fff;
	margin-top: 4.125rem;
}
.top05 .box02 .item:nth-of-type(-n+2){
	margin-top: 0;
}
.top05 .box02 .item .img img{
	width: 100%;
	height: auto;
}
.top05 .box02 .item .txt{
	padding: 1.5rem 2.25rem;
}
.top05 .box02 .item .txt h5{
	font-size: 1.125rem;
	color: var(--brown05);
	margin-bottom: 1rem;
}
.top05 .box02 .item .txt p{
	font-size: 0.875rem;
}
.top05 .box03{
	margin-top: 5.5rem;
	text-align: center;
}
.top05 .box03 p{
	font-size: 1.375rem;
	font-weight: 500;
	margin-bottom: 3rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 0 0 9rem;
}
.top06 .cat_wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: solid 1px #000;
}
.top06 .cat_wrap .cat{
	width: 23.5%;
	padding: 0.25rem;
}
.top06 .cat_wrap .cat.color01{
	background: var(--brown03);
	color: #fff;
}
.top06 .cat_wrap .cat.color02{
	background: var(--brown02);
	color: #000;
}
.top06 .cat_wrap .cat.color03{
	background: var(--brown01);
	color: #000;
}
.top06 .cat_wrap .cat.color04{
	background: var(--brown04);
	color: #fff;
}
.top06 .cat_wrap .cat p{
	font-size: 0.875rem;
	line-height: 1.5;
	text-align: center;
}
.top06 .box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top06 .box article{
	width: 48%;
	margin-top: 3rem;
}
.top06 .box article:nth-of-type(-n+2){
	margin-top: 0;
}
.top06 .box article .txt01{
	margin-bottom: 1rem;
}
.top06 .box article .txt01 time{
	display: inline-block;
	margin-bottom: 0.25rem;
}
.top06 .box article a .img{
	overflow: hidden;
}
.top06 .box article a .img img{
	width: 100%;
	height: auto;
	transition: .3s;
}
.top06 .box article a:hover .img img{
	transform: scale(1.05);
	opacity: .6;
}
.top06 .box article a .txt02{
	margin-top: 1.5rem;
	transition: .3s;
}
.top06 .box article a:hover .txt02{
	opacity: .6;
}
.top06 .box article a .txt02 h4{
	font-size: 1rem;
}
.top06 .btn{
	margin: 5rem auto;
}
.top06 .btn a{
	letter-spacing: 0.1rem;
}
.top06 .bnr_wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top06 .bnr_wrap .img{
	width: 49%;
}
.top06 .bnr_wrap .img:first-of-type{
	border: solid 1px #000;
}
.top06 .bnr_wrap .img img{
	width: 100%;
	height: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ お問い合わせ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.contact_wrap{
	background: url(../images/common/contact_bg.png) center center / cover no-repeat;
}
.contact_wrap::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
}
.contact_wrap_in{
	position: relative;
	padding: 5rem 0;
}
.contact_wrap_in .deco{
	top: -4.6875rem;
}
.contact_wrap .ttl_wrap,
.contact_wrap .copy,
.contact_wrap .btn_wrap{
	position: relative;
	z-index: 2;
}
.contact_wrap .ttl_wrap{
	margin-bottom: 2.5rem;
}
.contact_wrap .ttl_wrap p,
.contact_wrap .ttl_wrap .ttl{
	color: #fff;
}
.contact_wrap .copy{
	color: #fff;
	text-align: center;
	margin-bottom: 4rem;
}
.contact_wrap .btn_wrap .btn{
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ お問い合わせ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 6rem 0;
}
.top07 .gmap{
	/* padding-bottom: 35%; */
}
.top07 .box{
	position: relative;
	padding: 4rem;
	margin-top: -4rem;
	background: #fff;
	z-index: 2;
}
.top07 .box table{
	width: 100%;
}
.top07 .box table th,
.top07 .box table td{
	border-bottom: solid 1px #ddd;
}
.top07 .box table th{
	width: 18%;
	padding: 2rem 0;
	vertical-align: top;
	text-align: left;
	font-weight: 400;
}
.top07 .box table td{
	width: 82%;
	padding: 2rem 0 2rem 1rem;
}
.top07 .box .btn{
	margin: 4rem auto 0;
}
.top07 .box .recruit_bnr{
	position: relative;
	max-width: 880px;
	width: 100%;
	margin: 6rem auto 0;
}
.top07 .box .recruit_bnr a .img{
	position: relative;
	overflow: hidden;
}
.top07 .box .recruit_bnr a .img::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.top07 .box .recruit_bnr a .img img{
	transition: .3s;
}
.top07 .box .recruit_bnr a:hover .img img{
	transform: scale(1.05);
}
.top07 .box .recruit_bnr a .txt{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%) translateY(1rem);
	z-index: 2;
	color: #fff;
}
.top07 .box .recruit_bnr a .txt span{
	display: block;
	font-size: 1.25rem;
}
.top07 .box .recruit_bnr a .txt .ttl{
	font-size: 2.375rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	line-height: 1.5;
	padding: 0 5rem 0.5rem 0;
	border-bottom: solid 2px #fff;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.lower_mv{
	position: relative;
	margin: 5rem 0 5rem;
}
.lower_mv::before{
	position: absolute;
	content: '';
	top: 70%;
	left: 0;
	width: 100%;
	height: 0;
	background-size: auto auto;
	background-color: rgba(255, 255, 255, 1);
	background-image: repeating-linear-gradient(90deg, transparent, transparent 7px, rgba(219, 203, 166, 1) 7px, rgba(219, 203, 166, 1) 9px );
	z-index: 1;
}
.lower_mv.active::before{
	height: 11rem;
	transition: all .5s .3s ease;
}
.lower_ttl_wrap{
	position: absolute;
	width: 24rem;
	height: 9.375rem;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #fff;
	z-index: 4;
}
.lower_ttl_wrap_in{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 5rem;
}
.lower_ttl_wrap .txt01{
	display: inline-block;
	font-size: 0.875rem;
	font-family: 'Sorts Mill Goudy', serif;
	letter-spacing: 0.05em;
	color: var(--brown04);
	margin-bottom: 1rem;
}
.lower_ttl_wrap .ttl{
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.1em;
}
.lower_ttl_wrap .deco{
	width: 3.75rem;
	height: 3.75rem;
	top: -0.9375rem;
	right: -0.9375rem;
}
.lower_ttl_wrap .deco span:nth-of-type(1){
	width: 0.9375rem;
	height: 0.9375rem;
}
.lower_ttl_wrap .deco span:nth-of-type(2){
	width: 1.875rem;
	height: 1.875rem;
	top: 0.9375rem;
	left: 0.9375rem;
}
.lower_ttl_wrap .deco span:nth-of-type(3){
	width: 0.9375rem;
	height: 0.9375rem;
}
.lower_mv .mv{
	position: relative;
	width: calc(100% - 24rem);
	height: 23.125rem;
	margin-left: auto;
	z-index: 2;
}
.lower_mv .mv img{
	object-position: 50% 100%; 
}

.pagenaition{
	margin-top: 6rem;
}
.pagenaition ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagenaition ul li{
	margin-right: 1.5rem;
}
.pagenaition ul li:last-of-type{
	margin-right: 0;
}
.pagenaition ul li.active span,
.pagenaition ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.75rem;
	height: 2.75rem;
}
.pagenaition ul li.active span{
	color: #fff;
	background: var(--brown04);
}
.pagenaition ul li a{
	background: var(--brown01);
	transition: .3s;
}
.pagenaition ul li a:hover{
	background: var(--brown02);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ パンくずリスト ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.breadcrumb{
	margin: 0;
	padding: 1.5rem;
	list-style: none;
	background: #fff;
}
.breadcrumb li{
	font-size: 0.875rem;
	display: inline-block;
	list-style: none;
}
.breadcrumb li::after{
	content: '＞';
	padding: 0 0.5em;
}
.breadcrumb li:last-child::after{
	content: '';
}
.breadcrumb li a{
	display: inline-block;
	padding: 0.5rem 0;
	color: #000;
}
.breadcrumb li a[href]{
	transition: .3s;
	text-decoration: underline;
}
.breadcrumb li a[href]:hover{
	color: var(--brown03);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ パンくずリスト ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ company02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.company02{
	padding: 0 0 8rem;
}
.company02 .box{
	background: #FAFAFA;
	padding: 2rem 3.5rem 3rem;
	margin-bottom: 4rem;
}
.company02 table{
	width: 100%;
}
.company02 table th,
.company02 table td{
	border-bottom: solid 1px #ddd;
	padding: 1.75rem 0;
	font-weight: 400;
	text-align: left;
}
.company02 table th{
	width: 18%;
}
.company02 table td{
	width: 82%;
}
.company02 table td .gmap{
	margin-top: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ company02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ recruit02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.recruit02{
	padding: 0 0 4rem;
}
.recruit02 .txt{
	margin-bottom: 4.5rem;
}
.recruit02 .txt p{
	font-size: 1.25rem;
	letter-spacing: 0.05em;
	text-align: center;
}
.recruit02 h2{
	font-size: 2rem;
	color: var(--brown04);
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 2rem;
}

.recruit02 .box,
.recruit03 .box{
	background: #FAFAFA;
	padding: 4rem 4rem 4.5rem;
}
.recruit02 dl dt,
.recruit02 dl dd,
.recruit03 dl dt,
.recruit03 dl dd{
	display: block;
}
.recruit02 dl dt,
.recruit03 dl dt{
	font-size: 1.125rem;
	font-weight: 700;
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.7rem;
}
.recruit02 dl dd,
.recruit03 dl dd{
	padding-top: 0.7rem;
	margin-bottom: 3rem;
}
.recruit02 dl dd:last-of-type,
.recruit03 dl dd:last-of-type{
	margin-bottom: 0;
}
.recruit02 dl dd ul,
.recruit03 dl dd ul{
	margin-left: 2rem;
}
.recruit02 .box dl dd ul.mt15,
.recruit03 .box dl dd ul.mt15{
	margin-top: 1.5rem;
}
.recruit02 dl dd ul li,
.recruit03 dl dd ul li{
	list-style-type: disc;
}
.recruit02 .box dl dd p + p,
.recruit03 .box dl dd p + p{
	margin-top: 1.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ recruit02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ recruit03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.recruit03{
	padding: 3rem 0 8rem;
}
.recruit03 h2{
	font-size: 2rem;
	color: var(--brown04);
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 0.5rem;
}
.recruit03 .txt p{
	font-size: 1.125rem;
	text-align: center;
}
.recruit03 .box{
	position: relative;
	margin-top: 2.5rem;
}
.recruit03 .box .img_wrap{
	position: absolute;
	top: -4rem;
	left: 75%;
	max-width: 24rem;
	min-width: 18rem;
	width: 29%;
	z-index: 2;
}
.recruit03 .box .img_wrap .img{
	position: relative;
}
.recruit03 .box .img_wrap .img::before{
	position: absolute;
	content: '';
	top: 0.5rem;
	left: 0.5rem;
	width: 100%;
	height: 100%;
	background: #DBCBA6;
	z-index: 1;
}
.recruit03 .box .img img{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 2;
}
.recruit03 .box dl dd .txt_bold{
	display: block;
	font-weight: 700;
	margin-top: 1.5rem;
}
.recruit03 .box .contact_btn_wrap{
	margin-top: 4.5rem;
}
.recruit03 .box .contact_btn_wrap p{
	text-align: center;
	margin-bottom: 1.75rem;
}
.recruit03 .box .contact_btn_wrap .btn_wrap .btn{
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ recruit03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ column02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.column02{
	padding-bottom: 8rem;
}
.column02 .column02_in{
	display: flex;
	justify-content: space-between;
}
.column02 .main_contents{
	width: calc(100% - 20rem);
	padding-right: 2rem;
}
.column02 .main_contents_in{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.column02 .main_contents article{
	width: 31.5%;
	margin-right: 2.75%;
	margin-top: 3.5rem;
}
.column02 .main_contents article:nth-of-type(3n){
	margin-right: 0;
}
.column02 .main_contents article:nth-of-type(-n+3){
	margin-top: 0;
}
.column02 .main_contents article .txt01{
	margin-bottom: 1rem;
}
.column02 .main_contents article a .img{
	overflow: hidden;
}
.column02 .main_contents article a .img img{
	width: 100%;
	height: auto;
	transition: .3s;
}
.column02 .main_contents article a:hover .img img{
	transform: scale(1.05);
	opacity: .6;
}
.column02 .main_contents article .txt02{
	margin-top: 0.5rem;
	transition: .3s;
}
.column02 .main_contents article a:hover .txt02{
	opacity: .6;
}
.column02 .main_contents article .txt02 h2{
	font-size: 1rem;
	font-weight: 700;
}

.column02 aside{
	width: 20rem;
}
.column02 aside .bnr01 a{
	border: solid 1px #000;
	transition: .3s;
}
.column02 aside .bnr01 a:hover{
	opacity: .6;
}
.column02 aside .bnr01 a img{
	width: 100%;
	height: auto;
}
.column02 aside .box01{
	margin-top: 3rem;
}
.column02 aside .box01 h3{
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
}
.column02 aside .box01 article{
	margin-top: 1.5rem;
}
.column02 aside .box01 article:first-of-type{
	margin-top: 0;
}
.column02 aside .box01 article a{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.column02 aside .box01 article .img{
	width: 38%;
	overflow: hidden;
}
.column02 aside .box01 article a .img img{
	width: 100%;
	height: auto;
	transition: .3s;
}
.column02 aside .box01 article a:hover .img img{
	transform: scale(1.05);
	opacity: .6;
}
.column02 aside .box01 article .txt{
	width: 58%;
	transition: .3s;
}
.column02 aside .box01 article a:hover .txt{
	opacity: .6;
}
.column02 aside .box01 a .txt time{
	display: block;
	font-size: 0.75rem;
	line-height: 1;
	margin-bottom: 0.5rem;
}
.column02 aside .box01 article h4{
	font-size: 0.8125rem;
	line-height: 1.5;
}
.column02 aside .bnr02{
	margin-top: 3.5rem;
}
.column02 aside .bnr02 .img:first-of-type{
	border: solid 1px #000;
	margin-bottom: 1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ column02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コラム・セミナー情報 記事詳細 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.article_area{
	width: calc(100% - 20rem);
	padding-right: 2rem;
}
.article_area_in{
	background: #FAFAFA;
	padding: 3.5rem 3rem 6rem;
	box-shadow: 0 3px 6px rgba(0,0,0,.15);
}
.article_area_in .ttl_area{
	display: flex;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: solid 1px #ddd;
}
.article_area_in .ttl_area .txt{
	width: 65%;
	padding-right: 2rem;
}
.article_area_in .ttl_area .txt time{
	font-size: 1.25rem;
}
.article_area_in .ttl_area .txt h1{
	font-size: 1.75rem;
	line-height: 1.8;
	margin-top: 1rem;
}
.article_area_in .ttl_area .main_ing{
	width: 35%;
}
.article_area_in .contents h2{
	font-size: 1.5rem;
	font-weight: 700;
	margin: 4rem 0 1rem;
	padding: 0.75rem 1.5rem;
	border-left: 10px solid var(--brown02);
	background:  rgba(219,203,166,.6);
}
.article_area_in .contents h3{
	font-size: 1.5rem;
	font-weight: 700;
	margin: 4rem 0 1rem;
	padding: 0.75rem 1.5rem;
	border-left: 10px solid var(--brown02);
}
.article_area_in .contents h4{
	font-size: 1.5rem;
	font-weight: 700;
	margin: 4rem 0 1rem;
}
.article_area_in .contents p + p,
.article_area_in .contents p + ul,
.article_area_in .contents ul + p,
.article_area_in .contents ol + ul,
.article_area_in .contents ul + ol,
.article_area_in .contents ul + ul,
.article_area_in .contents ol + ol{
	margin-top: 1.5rem;
}
.article_area_in .contents a{
	display: inline;
	color: var(--brown04);
	text-decoration: underline;
	transition: .3s;
}
.article_area_in .contents a:hover{
	opacity: .6;
}
.article_area_in .contents ul,
.article_area_in .contents ol{
	margin-left: 2rem;
}
.article_area_in .contents ul li{
	list-style: disc;
}
.article_area_in .contents ol li{
	list-style: decimal;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コラム・セミナー情報 記事詳細 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */


/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IE対策 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@media all and (-ms-high-contrast: none) {

}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IE対策 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */



























/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy01 .box{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 2rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.5rem;
	margin: 3rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 2rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

