
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* @font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
} */
body{-webkit-text-size-adjust: 100%;}
body.active{ overflow: hidden; }
html{
	color: #000;
	font-size: 15px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	line-height: 2;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	-webkit-text-size-adjust: 100%;
}
a{
	color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.l_container{
	width: 100%;
	padding:0 1rem;
}
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.m_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.s_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
	--brown01: #DBCBA6;
	--brown02: #D0B174;
	--brown03: #B09538;
	--brown04: #946C2B;
	--brown05: #5D3B00;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.inertia{ -webkit-overflow-scrolling: touch; }
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
main{
	margin-top: 4rem;
}
.sorts_mill_goudy{
	font-family: 'Sorts Mill Goudy', serif;
}
.ttl_wrap{
	text-align: center;
	margin-bottom: 2rem;
}
.ttl_wrap p{
	font-size: 1rem;
	font-family: 'Sorts Mill Goudy', serif;
	color: var(--brown04);
}
.ttl_wrap .ttl{
	font-size: 1.375rem;
	font-weight: 500;
}

.btn_wrap .btn{
	margin-top: 1rem;
}
.btn_wrap .btn:first-of-type{
	margin-top: 0;
}
.btn{
	position: relative;
	background: #fff;
	border: solid 1px var(--brown04);
	width: 20rem;
	margin: 0 auto;
}
.btn.brown{
	background: var(--brown04);
}
.btn.line{
	background: var(--line);
	border: solid 1px var(--line);
}
.btn a{
	position: relative;
	width: 100%;
	height: 3.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--brown04);
	font-size: 0.875rem;
}
.btn.brown a,
.btn.line a{
	color: #fff;
}
.btn.line a span.icon{
	font-size: 1.75rem;
	margin-right: 1rem;
}
.btn a span.arrow{
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%) translateX(0);
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.btn.brown a span.arrow .arrow_path,
.btn.line a span.arrow .arrow_path{
	fill: #fff;
	stroke: #fff;
}
.btn.brown a span.arrow .arrow_line,
.btn.line a span.arrow .arrow_line{
	stroke: #fff;
}

.gmap iframe,
.gmap object,
.gmap embed{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.gmap{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}
.gmap iframe{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	z-index: 50000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}
header .logo{
	width: 6.6rem;
	height: auto;
	line-height: 1;
	margin-left: 1.5rem;
}
header .logo img{
	width: 100%;
	height: auto;
}

header nav{
	position: fixed;
	top: 0;
	right: -100%;
	background: rgba(0,0,0,.95);
	width: 100%;
	height: 100vh;
	min-height: 550px;
	padding: 4rem 2rem 3rem;
	transition: .3s ease-out .2s;
}
header nav.active{
	right: 0;
}
header nav ul{
	width: 100%;
}
header nav ul li{
	border-top: 1px solid #222;
}
header nav ul li:first-of-type{
	border-top: none;
}
header nav ul li a{
	position: relative;
	font-size: 1.125rem;
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	color: #fff;
	letter-spacing: 0.1rem;
	opacity: 0;
}
header nav.active ul li a{
	opacity: 1;
	transform: translateX(-1rem);
}
header nav.active ul li:first-of-type a{
	transition: .3s .6s;
}
header nav.active ul li:nth-of-type(2) a{
	transition: .3s .7s;
}
header nav.active ul li:nth-of-type(3) a{
	transition: .3s .8s;
}
header nav.active ul li:nth-of-type(4) a{
	transition: .3s .9s;
}
header nav.active ul li:nth-of-type(5) a{
	transition: .3s 1s;
}

.menu_open{
	width: 3rem;
	position: relative;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: var(--brown03);
	width: 40%;
	height: 2px;
	transition: .3s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(6px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%);}
.menu_open span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-6px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.menu_open.active span:nth-of-type(2){opacity: 0;}
.menu_open.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	background: var(--brown04);
	padding: 2rem 0 2.5rem;
	color: #fff;
}
footer a{ color: #fff; }
footer ul{
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
footer ul li{
	width: 49%;
	margin-right: 2%;
	font-size: 0.875rem;
}
footer ul li:nth-of-type(2n){
	margin-right: 0;
}
footer ul li a{
	width: 100%;
	padding: 0.25rem 0;
}
footer ul li a span{
	color: var(--brown01);
	margin-right: 0.5rem;
}
footer .box{
	text-align: center;
	margin-top: 2rem;
}
footer .box .logo{
	width: 4.5rem;
	margin: 0 auto 1.25rem;
}
footer .box h2{
	font-size: 1.125rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}
footer .box .sns_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}
footer .box .sns_wrap a span{
	font-size: 1.66rem;
	margin-right: 1.5rem;
}
footer .box .sns_wrap a:last-of-type span{
	margin-right: 0;
}
footer .copyright{
	font-size: 0.75rem;
	margin-top: 4rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .mv{
	position: relative;
}
.top01 .mv::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
}
.top01 .mv img{
	width: 100%;
	height: auto;
}
.top01 .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 700;
}
.top01 .txt .txt01{
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	margin-bottom: 0.25rem;
}
.top01 .txt h2{
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
}
.top01 .txt .logo{
	width: 8.25rem;
	margin: 0.5rem auto 1.5rem;
}
.top01 .txt .txt02{
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 2rem 0 5.5rem;
}
.top02 .box01{
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
.top02 .box01 h3{
	text-align: center;
	background: var(--brown05);
	font-size: 1rem;
	color: #fff;
	letter-spacing: 0.1rem;
	line-height: 1.5;
	padding: 0.5rem 1rem;
}
.top02 .box01 .txt{
	background: #fff;
	padding: 1rem 1rem 1.25rem;
	text-align: center;
}
.top02 .box01 .txt .item{
	display: inline-block;
	width: 100%;
	margin: 0 auto 1rem;
	background: rgba(92,69,24,.05);
	border: solid 1px rgba(92,69,24,.15);
	padding: 0.25rem 0.5rem;
}
.top02 .box01 .txt .item p{
	display: inline-block;
	font-size: 0.875rem;
	line-height: 1.8;
	font-weight: 700;
}
.top02 .box01 .txt .item p span{
	color: #FF4C31;
	margin-right: 1rem;
}
.top02 .box01 .txt ul{
	margin: 0 1rem;
	text-align: left;
}
.top02 .box01 .txt ul li{
	list-style: disc;
	font-size: 0.7rem;
}
.top02 .box02{
	margin-top: 3.5rem;
	background: rgba(219,203,166,.25);
	text-align: center;
	padding: 1.6rem 1rem;
}
.top02 .box02 h3{
	color: #FF4C31;
	font-size: 1.1rem;
	line-height: 1.8;
	margin-bottom: 0.75rem;
}
.top02 .box02 p{
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.top02 .box02 .bnr{
	width: 100%;
	margin: 0 auto;
	border: solid 1px #000;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 0 0 5.5rem;
}
.top03 .box .item{
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.15);
	margin-top: 2.5rem;
}
.top03 .box .item:first-of-type{
	margin-top: 0;
}
.top03 .box .item .img img{
	width: 100%;
	height: auto;
}
.top03 .box .item .txt{
	padding: 1.5rem;
}
.top03 .box .item .txt h4{
	color: var(--brown04);
	font-size: 1.125rem;
	text-align: center;
	margin-bottom: 0.5rem;
	letter-spacing: 0.05rem;
}
.top03 .box .item .txt p{
	font-size: 0.9rem;
	color: #333;
	letter-spacing: 0.05rem;
}
.top03 .box .item .txt p span{
	color: #FF4C31;
	font-weight: 700;
	background: linear-gradient(transparent 60%, #FFEB00 60%);;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04 .ttl_wrap{
	margin-bottom: 1.5rem;
}
.top04 .copy p{
	font-size: 0.875rem;
	text-align: center;
}
.top04 .needs{
	width: 18.6rem;
	margin: 2rem auto 3rem;
}
.top04 .item{
	position: relative;
	margin: 1rem -2rem 0;
}
.top04 .item:first-of-type{
	margin-top: 0;
}
.top04 .item .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	border: solid 1px #fff;
	border-top: none;
	max-width: 1080px;
	width: 90%;
	height: 90%;
	min-height: 278.5px;
}
.top04 .item .txt .num{
	position: relative;
	font-size: 1.3rem;
	text-align: center;
	margin-top: -1.3rem;
}
.top04 .item .txt .num::before,
.top04 .item .txt .num::after{
	position: absolute;
	content: '';
	top: 50%;
	width: 45.5%;
	height: 1px;
	background: #fff;
}
.top04 .item .txt .num::before{
	left: 0;
}
.top04 .item .txt .num::after{
	right: 0;
}
.top04 .item .txt .txt_in{
	width: 90%;
	height: 90%;
	margin: -0.25rem auto 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.top04 .item .txt .txt_in h4{
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.75rem;
}
.top04 .item .txt .txt_in p{
	font-size: 0.75rem;
	line-height: 1.8;
	letter-spacing: 0.05rem;
}
.top04 .item .txt .txt_in p + p{
	margin-top: 1rem;
}
.top04 .btn_wrap{
	margin-top: 2rem;
}
.top04 .btn_wrap .btn{
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 3rem 0 6rem;
}
.top05 .box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.top05 .box .txt{
	order: 1;
	margin-bottom: 2rem;
}
.top05 .box .txt h4{
	font-size: 1.2rem;
	line-height: 1.8;
	color: var(--brown04);
	margin-bottom: 2rem;
	letter-spacing: 0.05rem;
}
.top05 .box .img{
	order: 2;
	min-width: 300px;
	width: 100%;
	margin: 0 auto;
}
.top05 .box02{
	background: rgba(219,203,126,.3);
	padding: 3rem 0;
	margin-top: 2rem;
}
.top05 .box02 .item{
	background: #fff;
	margin-top: 2rem;
}
.top05 .box02 .item:first-of-type{
	margin-top: 0;
}
.top05 .box02 .item .img img{
	width: 100%;
	height: auto;
}
.top05 .box02 .item .txt{
	padding: 1rem 1.5rem 1.5rem;
}
.top05 .box02 .item .txt h5{
	font-size: 1.2rem;
	color: var(--brown05);
	text-align: center;
	margin-bottom: 0.75rem;
}
.top05 .box02 .item .txt p{
	font-size: 0.875rem;
}
.top05 .box03{
	margin-top: 3rem;
	text-align: center;
}
.top05 .box03 p{
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 0 0 4rem;
}
.top06 .box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top06 .box article{
	width: 48%;
	margin-top: 3rem;
}
.top06 .box article:nth-of-type(-n+2){
	margin-top: 0;
}
.top06 .box article a .img img{
	width: 100%;
	height: auto;
}
.top06 .box article a .txt{
	margin-top: 0.25rem;
}
.top06 .box article a .txt h4{
	font-size: 0.9rem;
	line-height: 1.5;
	margin-bottom: 0.25rem;
}
.top06 .box article a .txt time{
	display: inline-block;
	margin-bottom: 0.1rem;
}
.top06 .box article a .txt .cat{
	width: 8.7rem;
	padding: 0.25rem;
}
.top06 .box article a .txt .cat.color01{
	background: var(--brown03);
	color: #fff;
}
.top06 .box article a .txt .cat.color02{
	background: var(--brown02);
	color: #000;
}
.top06 .box article a .txt .cat.color03{
	background: var(--brown01);
	color: #000;
}
.top06 .box article a .txt .cat p{
	font-size: 0.7rem;
	line-height: 1.2;
	text-align: center;
}
.top06 .btn{
	margin: 4rem auto;
}
.top06 .btn a{
	letter-spacing: 0.1rem;
}
.top06 .bnr_wrap a{
	margin-top: 1rem;
}
.top06 .bnr_wrap a:first-of-type{
	margin-top: 0;
	border: solid 1px #000;
}
.top06 .bnr_wrap a .img img{
	width: 100%;
	height: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ お問い合わせ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.contact_wrap{
	background: url(../images/common/contact_bg_sp.jpg) center center / cover no-repeat;
	padding: 3rem 0;
}
.contact_wrap::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
}
.contact_wrap .ttl_wrap,
.contact_wrap .copy,
.contact_wrap .btn_wrap{
	position: relative;
	z-index: 2;
}
.contact_wrap .ttl_wrap{
	margin-bottom: 1.5rem;
}
.contact_wrap .ttl_wrap p,
.contact_wrap .ttl_wrap .ttl{
	color: #fff;
}
.contact_wrap .copy{
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
	margin-bottom: 2.5rem;
}
.contact_wrap .btn_wrap .btn{
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ お問い合わせ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 0 0 3rem;
}
.top07 .box{
	padding: 1.5rem 0 0;
}
.top07 .box table{
	width: 100%;
}
.top07 .box table tr{
	display: block;
	margin-top: 1.25rem;
}
.top07 .box table tr:first-of-type{
	margin-top: 0;
}
.top07 .box table th,
.top07 .box table td{
	display: block;
	font-size: 0.9rem;
}
.top07 .box table th{
	padding: 0.25rem 0;
	vertical-align: top;
	text-align: left;
	font-weight: 400;
	border-bottom: solid 1px #ddd;
}
.top07 .box table td{
	padding: 0.25rem 0;
}
.top07 .box .btn{
	margin: 3rem auto 0;
}
.top07 .box .recruit_bnr{
	position: relative;
	width: 100%;
	margin: 6rem auto 0;
}
.top07 .box .recruit_bnr a .img{
	position: relative;
}
.top07 .box .recruit_bnr a .img::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.top07 .box .recruit_bnr a .img img{
	width: 100%;
	height: auto;
}
.top07 .box .recruit_bnr a .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	color: #fff;
	text-align: center;
	width: 100%;
}
.top07 .box .recruit_bnr a .txt span{
	display: block;
	font-size: 0.9rem;
}
.top07 .box .recruit_bnr a .txt .ttl{
	display: inline-block;
	font-size: 1.46rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	line-height: 1.5;
	padding: 0 0 0.25rem;
	border-bottom: solid 2px #fff;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */













/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy01 .box{
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 1.5rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.1rem;
	margin: 2.5rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 1rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box p{
	margin: 0.5rem 0;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}