
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* @font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
} */
body{-webkit-text-size-adjust: 100%;}
body.active{ overflow: hidden; }
html{
	color: #000;
	font-size: 15px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	line-height: 2;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	-webkit-text-size-adjust: 100%;
}
a{
	color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.l_container{
	width: 100%;
	padding:0 1rem;
}
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.m_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.s_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
	--brown01: #DBCBA6;
	--brown02: #D0B174;
	--brown03: #B09538;
	--brown04: #946C2B;
	--brown05: #5D3B00;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.inertia{ -webkit-overflow-scrolling: touch; }
.preload * { transition: none !important; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
main{
	margin-top: 4.25rem;
}
.sorts_mill_goudy{
	font-family: 'Sorts Mill Goudy', serif;
}
.ttl_wrap{
	text-align: center;
	margin-bottom: 2rem;
}
.ttl_wrap p{
	font-size: 1rem;
	font-family: 'Sorts Mill Goudy', serif;
	color: var(--brown04);
}
.ttl_wrap .ttl{
	font-size: 1.375rem;
	font-weight: 500;
}

.btn_wrap .btn{
	margin-top: 1rem;
}
.btn_wrap .btn:first-of-type{
	margin-top: 0;
}
.btn{
	position: relative;
	background: #fff;
	border: solid 1px var(--brown04);
	width: 20rem;
	margin: 0 auto;
}
.btn.brown{
	background: var(--brown04);
}
.btn.line{
	background: var(--line);
	border: solid 1px var(--line);
}
.btn a{
	position: relative;
	width: 100%;
	height: 3.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--brown04);
	font-size: 0.875rem;
}
.btn.brown a,
.btn.line a{
	color: #fff;
}
.btn.line a span.icon{
	font-size: 1.75rem;
	margin-right: 1rem;
}
.btn a span.arrow{
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%) translateX(0);
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.btn.brown a span.arrow .arrow_path,
.btn.line a span.arrow .arrow_path{
	fill: #fff;
	stroke: #fff;
}
.btn.brown a span.arrow .arrow_line,
.btn.line a span.arrow .arrow_line{
	stroke: #fff;
}

.gmap iframe,
.gmap object,
.gmap embed{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.gmap iframe{
	height: 60vw;
	max-height: 300px;
	width: 100%;
}
.fadein,
.fadein02,
.fadein03{
	opacity: 0;
	transform: translateY(50px);
}
.fadedown01{
	opacity: 0;
	transform: translateY(-20px);
}
.fadein.active,
.fadein02.active,
.fadein03.active,
.fadedown01.active{
	opacity: 1;
	transform: translateY(0);
}
.fadein.active{ transition: opacity 1s ease, transform 0.8s ease-out; }
.fadein02.active{ transition: opacity 1s ease .5s, transform 0.8s ease-out .5s; }
.fadein03.active{ transition: opacity 1s ease .8s, transform 0.8s ease-out .8s; }
.fadedown01.active{ transition: opacity 1s ease, transform 0.8s ease-out; }
.deco,
.deco02{
	position: absolute;
	width: 4rem;
	height: 4rem;
	z-index: 9;
}
.deco{
	top: -2rem;
	right: -2rem;
}
.deco02{
	bottom: -2rem;
	left: -2rem;
}
.deco span,
.deco02 span{
	position: absolute;
	background: var(--brown04);
	display: block;
	opacity: 0;
}
.deco.active span,
.deco02.active span{
	animation: btmin .5s .5s ease forwards;
}
.deco span:nth-of-type(1),
.deco02 span:nth-of-type(1){
	width: 1rem;
	height: 1rem;
}
.deco span:nth-of-type(1){
	bottom: 1rem;
	left: 1rem;
}
.deco02 span:nth-of-type(1){
	top: 1rem;
	left: 1rem;
}
.deco span:nth-of-type(2),
.deco02 span:nth-of-type(2){
	width: 2rem;
	height: 2rem;
	top: 1rem;
	left: 1rem;
}
.deco span:nth-of-type(3),
.deco02 span:nth-of-type(3){
	width: 1rem;
	height: 1rem;
}
.deco span:nth-of-type(3){
	top: 1rem;
	right: 1rem;
}
.deco02 span:nth-of-type(3){
	bottom: 1rem;
	right: 1rem;
}
.deco.active span:nth-of-type(1){
	bottom: 0;
	left: 0;
	transition: all .5s 1s ease;
}
.deco.active span:nth-of-type(3){
	top: 0;
	right: 0;
	transition: all .5s 1.1s ease;
}
.deco02.active span:nth-of-type(1){
	top: 0;
	left: 0;
	transition: all .5s 1s ease;
}
.deco02.active span:nth-of-type(3){
	bottom: 0;
	right: 0;
	transition: all .5s 1.1s ease;
}
@keyframes btmin{
	0%{
		opacity: 0;
		transform: translateY(3.125rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
.view{ opacity: 0; }
.view.active{ opacity: 1; }
.view01.active{ transition: .5s ease .2s; }
.view02.active{ transition: .5s ease .5s; }
.view03.active{ transition: .5s ease .8s; }
.view04.active{ transition: .5s ease 1.1s; }
.view05.active{ transition: .5s ease 1.4s; }
.view06.active{ transition: .5s ease 1.7s; }
.view07.active{ transition: 1s ease 2s; }

.txt_anime .anime01,
.txt_anime .anime02{
	position: relative;
	overflow: hidden;
	line-height: 1;
}
.txt_anime .anime01::before,
.txt_anime .anime02::before{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: var(--brown04);
	transition: transform .4s cubic-bezier(.27,.98,.74,.02);
	transform: translateX(-101%);
	z-index: 2;
}
.txt_anime.white .anime01::before,
.txt_anime.white .anime02::before{
	background: #fff;
}
.txt_anime .anime02::before{
	transition-delay: .2s;
}
.txt_anime.start .anime01::before,
.txt_anime.start .anime02::before{
	transform: translateX(101%);
}
.txt_anime .anime_in{
	position: relative;
	opacity: 0;
	transition: opacity 0s .4s;
	z-index: 1;
}
.txt_anime.start .anime_in{
	opacity: 1;
}
.txt_anime.start .anime02 .anime_in{
	transition: opacity 0s cubic-bezier(.27,.98,.74,.02) .4s;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4.25rem;
	z-index: 50000;
}
.header_in{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(255,255,255,.95);
}
header::before{
	position: absolute;
	content: '';
	background: rgba(255,255,255,.95);
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	transition: .3s ease-out .2s;
}
header.open::before{
	width: 100%;
}
header .logo{
	position: relative;
	width: 6.6rem;
	height: auto;
	line-height: 1;
	margin-left: 1.5rem;
	z-index: 2;
}
header .logo img{
	width: 100%;
	height: auto;
}

header nav{
	position: fixed;
	top: 4.25rem;
	right: -100%;
	background: rgba(255,255,255,.95);
	width: 100%;
	height: calc(100vh - 4rem);
	min-height: 550px;
	padding: 4rem 2rem 8rem;
	border-top: solid 3px var(--brown03);
	transition: .3s ease-out .2s;
	overflow-y: scroll;
}
header nav.active{
	right: 0;
}
header nav ul{
	width: 100%;
}
header nav ul li{
	border-top: 1px solid #222;
}
header nav ul li:first-of-type{
	border-top: none;
}
header nav ul li a{
	position: relative;
	font-size: 1.125rem;
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	letter-spacing: 0.1rem;
	opacity: 0;
}
header nav.active ul li a{
	opacity: 1;
	transform: translateX(-1rem);
}
header nav.active ul li:first-of-type a{
	transition: .3s .6s;
}
header nav.active ul li:nth-of-type(2) a{
	transition: .3s .7s;
}
header nav.active ul li:nth-of-type(3) a{
	transition: .3s .8s;
}
header nav.active ul li:nth-of-type(4) a{
	transition: .3s .9s;
}
header nav.active ul li:nth-of-type(5) a{
	transition: .3s 1s;
}
header nav .btn.line{
	opacity: 0;
	width: 100%;
	margin-top: 3rem;
}
header nav.active .btn.line{
	opacity: 1;
	transition: .5s 1.3s;
}

header .line_links{
	position: relative;
	margin-left: auto;
	font-size: 2.25rem;
	color: var(--brown04);
	text-align: center;
	padding: 0 1.5rem;
	height: 4.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
header .line_links .icon{
	display: block;
	line-height: 1;
}
header .line_links .txt{
	display: block;
	font-size: 0.7rem;
	letter-spacing: 0.05rem;
	line-height: 1;
	margin-top: 0.15rem;
}

header .bnr_wrap{
	opacity: 0;
	margin-top: 1rem;
}
header nav.active .bnr_wrap{
	opacity: 1;
	transition: .5s 1.3s;
}
header .bnr_wrap .img{
	margin-top: 1rem;
}
header .bnr_wrap .img:first-of-type{
	margin-top: 0;
	border: solid 1px #000;
}

.menu_open{
	width: 3.5rem;
	height: 4.25rem;
	position: relative;
}
.menu_open::before{
	position: absolute;
	content: 'MENU';
	top: 55%;
	left: 50%;
	transform: translateX(-50%) translateY(0.2rem);
	font-size: 0.7rem;
	font-weight: 700;
	color: var(--brown03);
	white-space: nowrap;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: var(--brown03);
	width: 60%;
	height: 3px;
	transition: .3s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(1px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%) translateY(-8px);}
.menu_open span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-17px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) translateY(-6px) rotate(45deg);}
.menu_open.active span:nth-of-type(2){opacity: 0;}
.menu_open.active span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-6px) rotate(-45deg);}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	background: var(--brown04);
	padding: 2rem 0 2.5rem;
	color: #fff;
}
footer a{ color: #fff; }
footer ul{
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
footer ul li{
	width: 49%;
	margin-right: 2%;
	font-size: 0.875rem;
}
footer ul li:nth-of-type(2n){
	margin-right: 0;
}
footer ul li a{
	width: 100%;
	padding: 0.25rem 0;
}
footer ul li a span{
	color: var(--brown01);
	margin-right: 0.5rem;
}
footer .box{
	text-align: center;
	margin-top: 2rem;
}
footer .box .logo{
	width: 4.5rem;
	margin: 0 auto 1.25rem;
}
footer .box h2{
	font-size: 1.125rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}
footer .box .sns_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}
footer .box .sns_wrap a span{
	font-size: 1.66rem;
	margin-right: 1.5rem;
}
footer .box .sns_wrap a:last-of-type span{
	margin-right: 0;
}
footer .copyright{
	font-size: 0.75rem;
	margin-top: 4rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .mv{
	position: relative;
	height: 50vh;
	min-height: 400px;
	overflow: hidden;
}
.top01 .mv::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.25);
}
.top01 .mv img{
	object-position: 50% 70%;
}
.top01 .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) translateY(-2.5rem);
	width: 100%;
	text-align: center;
	color: #000;
	font-weight: 700;
}
.top01 .txt .txt01{
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	margin-bottom: 0.25rem;
}
.top01 .txt h2{
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
}
.top01 .txt h2 span{
	color: var(--brown05);
}
.top01 .txt .logo{
	width: 13rem;
	margin: 0.75rem auto 1.5rem;
}
.top01 .txt .txt02{
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	margin-top: 4.5rem;
}
.top01 .txt .txt02 span{
	color: var(--brown05);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	padding: 2rem 0 5.5rem;
}
.top02 .box01{
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 2px 20px rgba(0,0,0,.1);
}
.top02 .box01 h3{
	text-align: center;
	background: var(--brown05);
	font-size: 1rem;
	color: #fff;
	letter-spacing: 0.1rem;
	line-height: 1.5;
	padding: 0.5rem 1rem;
}
.top02 .box01 .txt{
	background: #fff;
	padding: 1rem 1rem 1.25rem;
	text-align: center;
}
.top02 .box01 .txt .item{
	display: inline-block;
	width: 100%;
	margin: 0 auto 1rem;
	background: rgba(92,69,24,.05);
	border: solid 1px rgba(92,69,24,.15);
	padding: 0.25rem 0.5rem;
}
.top02 .box01 .txt .item p{
	display: inline-block;
	font-size: 0.875rem;
	line-height: 1.8;
	font-weight: 700;
}
.top02 .box01 .txt .item p span{
	color: #FF4C31;
	margin-right: 1rem;
}
.top02 .box01 .txt ul{
	margin: 0 1rem;
	text-align: left;
}
.top02 .box01 .txt ul li{
	list-style: disc;
	font-size: 0.7rem;
}
.top02 .box02{
	margin-top: 3.5rem;
	background: rgba(219,203,166,.25);
	text-align: center;
	padding: 1.6rem 1rem;
}
.top02 .box02 h3{
	color: #FF4C31;
	font-size: 1.1rem;
	line-height: 1.8;
	margin-bottom: 0.75rem;
}
.top02 .box02 p{
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.top02 .box02 .bnr{
	width: 100%;
	margin: 0 auto;
	border: solid 1px #000;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{
	padding: 0 0 5.5rem;
}
.top03 .box .item{
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.15);
	margin-top: 2.5rem;
}
.top03 .box .item:first-of-type{
	margin-top: 0;
}
.top03 .box .item .img img{
	width: 100%;
	height: auto;
}
.top03 .box .item .txt{
	padding: 1.5rem;
}
.top03 .box .item .txt h4{
	color: var(--brown04);
	font-size: 1.125rem;
	text-align: center;
	margin-bottom: 0.5rem;
	letter-spacing: 0.05rem;
}
.top03 .box .item .txt p{
	font-size: 0.9rem;
	color: #333;
	letter-spacing: 0.05rem;
}
.top03 .box .item .txt p span{
	color: #FF4C31;
	font-weight: 700;
	background: linear-gradient(transparent 60%, #FFEB00 60%);;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04 .ttl_wrap{
	margin-bottom: 1.5rem;
}
.top04 .copy p{
	font-size: 0.875rem;
	text-align: center;
}
.top04 .needs{
	width: 18.6rem;
	height: 21.33rem;
	margin: 2rem auto 3rem;
	position: relative;
}
.top04 .needs .img{
	position: absolute;
	top: 0;
	left: 0;
}
.top04 .item{
	position: relative;
	margin: 1rem -2rem 0;
}
.top04 .item:first-of-type{
	margin-top: 0;
}
.top04 .item .img{
	height: 420px;
}
.top04 .item .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	border: solid 1px #fff;
	border-top: none;
	max-width: 1080px;
	width: 90%;
	height: 90%;
	min-height: 278.5px;
}
.top04 .item .txt .num{
	position: relative;
	font-size: 1.3rem;
	text-align: center;
	margin-top: -1.3rem;
}
.top04 .item .txt .num::before,
.top04 .item .txt .num::after{
	position: absolute;
	content: '';
	top: 50%;
	width: 45.5%;
	height: 1px;
	background: #fff;
}
.top04 .item .txt .num::before{
	left: 0;
}
.top04 .item .txt .num::after{
	right: 0;
}
.top04 .item .txt .txt_in{
	width: 95%;
	height: 90%;
	margin: -0.25rem auto 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.top04 .item .txt .txt_in h4{
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0.75rem;
}
.top04 .item .txt .txt_in p{
	font-size: 0.875rem;
	line-height: 1.8;
	letter-spacing: 0.05rem;
}
.top04 .item .txt .txt_in p + p{
	margin-top: 1rem;
}
.top04 .btn_wrap{
	margin-top: 2rem;
}
.top04 .btn_wrap .btn{
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 3rem 0 6rem;
}
.top05 .box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.top05 .box .txt{
	order: 1;
	margin-bottom: 2rem;
}
.top05 .box .txt h4{
	font-size: 1.2rem;
	line-height: 1.8;
	color: var(--brown04);
	margin-bottom: 2rem;
	letter-spacing: 0.05rem;
}
/* .top05 .box .img{
	order: 2;
	min-width: 300px;
	width: 100%;
	margin: 0 auto;
} */
.top05 .box .service_img{
	order: 2;
	position: relative;
	min-width: 300px;
	width: 100%;
	height: 18.15rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top05 .box .service_img .img{
	position: absolute;
}
.top05 .box02{
	position: relative;
	background: rgba(219,203,126,.3);
	padding: 3rem 0;
	margin-top: 3rem;
}
.top05 .box02 .deco{
	top: -3rem;
	right: 0;
}
.top05 .box02 .deco02{
	bottom: -3rem;
	left: 0;
}
.top05 .box02 .item{
	background: #fff;
	margin-top: 2rem;
}
.top05 .box02 .item:first-of-type{
	margin-top: 0;
}
.top05 .box02 .item .img img{
	width: 100%;
	height: auto;
}
.top05 .box02 .item .txt{
	padding: 1rem 1.5rem 1.5rem;
}
.top05 .box02 .item .txt h5{
	font-size: 1.2rem;
	color: var(--brown05);
	text-align: center;
	margin-bottom: 0.75rem;
}
.top05 .box02 .item .txt p{
	font-size: 0.875rem;
}
.top05 .box03{
	margin-top: 3rem;
	text-align: center;
}
.top05 .box03 p{
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 0 0 4rem;
}
.top06 .cat_wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	border-bottom: solid 1px #000;
}
.top06 .cat_wrap .cat{
	width: 49%;
	padding: 0.25rem;
	margin-top: 0.5rem;
}
.top06 .cat_wrap .cat:nth-of-type(-n+2){
	margin-top: 0;
}
.top06 .cat_wrap .cat.color01{
	background: var(--brown03);
	color: #fff;
}
.top06 .cat_wrap .cat.color02{
	background: var(--brown02);
	color: #000;
}
.top06 .cat_wrap .cat.color03{
	background: var(--brown01);
	color: #000;
}
.top06 .cat_wrap .cat.color04{
	background: var(--brown04);
	color: #fff;
}
.top06 .cat_wrap .cat p{
	font-size: 0.875rem;
	line-height: 1.5;
	text-align: center;
}
.top06 .box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top06 .box article{
	width: 48%;
	margin-top: 3rem;
}
.top06 .box article:nth-of-type(-n+2){
	margin-top: 0;
}
.top06 .box article .txt01{
	margin-bottom: 0.75rem;
}
.top06 .box article .txt01 time{
	display: inline-block;
	margin-bottom: 0.1rem;
}
.top06 .box article .txt01 .cat{
	width: 8.7rem;
	padding: 0.25rem;
}
.top06 .box article .txt01 .cat.color01{
	background: var(--brown03);
	color: #fff;
}
.top06 .box article .txt01 .cat.color02{
	background: var(--brown02);
	color: #000;
}
.top06 .box article .txt01 .cat.color03{
	background: var(--brown01);
	color: #000;
}
.top06 .box article .txt01 .cat p{
	font-size: 0.7rem;
	line-height: 1.2;
	text-align: center;
}
.top06 .box article a .img img{
	width: 100%;
	height: auto;
}
.top06 .box article a .txt02{
	margin-top: 0.25rem;
}
.top06 .box article a .txt02 h4{
	font-size: 0.9rem;
	line-height: 1.5;
}
.top06 .btn{
	margin: 4rem auto;
}
.top06 .btn a{
	letter-spacing: 0.1rem;
}
.top06 .bnr_wrap .img{
	margin-top: 1rem;
}
.top06 .bnr_wrap .img:first-of-type{
	margin-top: 0;
	border: solid 1px #000;
}
.top06 .bnr_wrap .img img{
	width: 100%;
	height: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ お問い合わせ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.contact_wrap{
	background: url(../images/common/contact_bg_sp.jpg) center center / cover no-repeat;
}
.contact_wrap::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
}
.contact_wrap_in{
	position: relative;
	padding: 3rem 0;
}
.contact_wrap_in .deco{
	top: -3rem;
}
.contact_wrap .ttl_wrap,
.contact_wrap .copy,
.contact_wrap .btn_wrap{
	position: relative;
	z-index: 2;
}
.contact_wrap .ttl_wrap{
	margin-bottom: 1.5rem;
}
.contact_wrap .ttl_wrap p,
.contact_wrap .ttl_wrap .ttl{
	color: #fff;
}
.contact_wrap .copy{
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
	margin-bottom: 2.5rem;
}
.contact_wrap .btn_wrap .btn{
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ お問い合わせ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 3rem 0;
}
.top07 .box{
	padding: 1.5rem 0 0;
}
.top07 .box table{
	width: 100%;
}
.top07 .box table tr{
	display: block;
	margin-top: 1.25rem;
}
.top07 .box table tr:first-of-type{
	margin-top: 0;
}
.top07 .box table th,
.top07 .box table td{
	display: block;
	font-size: 0.9rem;
}
.top07 .box table th{
	padding: 0.25rem 0;
	vertical-align: top;
	text-align: left;
	font-weight: 400;
	border-bottom: solid 1px #ddd;
}
.top07 .box table td{
	padding: 0.25rem 0;
}
.top07 .box .btn{
	margin: 3rem auto 0;
}
.top07 .box .recruit_bnr{
	position: relative;
	width: 100%;
	margin: 3rem auto 0;
}
.top07 .box .recruit_bnr a .img{
	position: relative;
}
.top07 .box .recruit_bnr a .img::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.top07 .box .recruit_bnr a .img img{
	width: 100%;
	height: auto;
}
.top07 .box .recruit_bnr a .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	color: #fff;
	text-align: center;
	width: 100%;
}
.top07 .box .recruit_bnr a .txt span{
	display: block;
	font-size: 0.9rem;
}
.top07 .box .recruit_bnr a .txt .ttl{
	display: inline-block;
	font-size: 1.46rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	line-height: 1.5;
	padding: 0 0 0.25rem;
	border-bottom: solid 2px #fff;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.lower_mv{
	position: relative;
	margin-bottom: 2rem;
}
.lower_mv::before{
	position: absolute;
	content: '';
	top: 70%;
	left: 0;
	width: 100%;
	height: 0;
	background-size: auto auto;
	background-color: rgba(255, 255, 255, 1);
	background-image: repeating-linear-gradient(90deg, transparent, transparent 5px, rgba(219, 203, 166, 1) 5px, rgba(219, 203, 166, 1) 7px );
	z-index: 1;
}
.lower_mv.active::before{
	height: 7rem;
	transition: all .5s .3s ease;
}
.lower_ttl_wrap{
	position: absolute;
	width: 18.75rem;
	height: 7.5rem;
	bottom: 2rem;
	left: 0;
	background: #fff;
	z-index: 4;
}
.lower_ttl_wrap_in{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 2rem;
}
.lower_ttl_wrap p{
	display: inline-block;
	font-size: 0.73rem;
	font-family: 'Sorts Mill Goudy', serif;
	letter-spacing: 0.05em;
	color: var(--brown04);
	margin-bottom: 1rem;
}
.lower_ttl_wrap .ttl{
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.1em;
}
.lower_ttl_wrap .deco{
	width: 3.75rem;
	height: 3.75rem;
	top: -0.9375rem;
	right: -0.9375rem;
}
.lower_ttl_wrap .deco span:nth-of-type(1){
	width: 0.9375rem;
	height: 0.9375rem;
}
.lower_ttl_wrap .deco span:nth-of-type(2){
	width: 1.875rem;
	height: 1.875rem;
	top: 0.9375rem;
	left: 0.9375rem;
}
.lower_ttl_wrap .deco span:nth-of-type(3){
	width: 0.9375rem;
	height: 0.9375rem;
}
.lower_mv .mv{
	position: relative;
	width: calc(100% - 2rem);
	height: 17rem;
	margin-left: auto;
	z-index: 2;
}
.lower_mv .mv img{
	object-position: 50% 100%; 
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ パンくずリスト ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.breadcrumb{
	margin: 0;
	padding: 0.75rem;
	list-style: none;
	background: #fff;
}
.breadcrumb li{
	font-size: 0.7rem;
	display: inline-block;
	list-style: none;
}
.breadcrumb li::after{
	content: '＞';
	padding: 0 0.5em;
}
.breadcrumb li:last-child::after{
	content: '';
}
.breadcrumb li a{
	display: inline-block;
	padding: 0.5rem 0;
	color: #000;
}
.breadcrumb li a[href]{
	text-decoration: underline;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ パンくずリスト ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ company02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.company02{
	padding: 0 0 5rem;
}
.company02 .box{
	background: #FAFAFA;
	padding: 2rem 2rem 1.5rem;
	margin: 0 -2rem 2.5rem;
}
.company02 table{
	width: 100%;
}
.company02 table tr{
	display: block;
	margin-bottom: 1.25rem;
}
.company02 table th,
.company02 table td{
	display: block;
	font-weight: 400;
	text-align: left;
	font-size: 0.9rem;
}
.company02 table th{
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.15rem;
}
.company02 table td{
	padding-top: 0.15rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ company02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ recruit02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.recruit02{
	padding: 1.5rem 0;
}

.recruit02 .txt{
	margin-bottom: 2.5rem;
}
.recruit02 .txt p{
	letter-spacing: 0.05em;
	text-align: center;
}
.recruit02 h2{
	font-size: 1.4rem;
	color: var(--brown04);
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 1.5rem;
}

.recruit02 .box,
.recruit03 .box{
	background: #FAFAFA;
	padding: 2.5rem 2rem 3rem;
	margin: 0 -2rem;
}
.recruit02 dl dt,
.recruit02 dl dd,
.recruit03 dl dt,
.recruit03 dl dd{
	display: block;
}
.recruit02 dl dt,
.recruit03 dl dt{
	font-size: 1.1rem;
	font-weight: 700;
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.5rem;
}
.recruit02 dl dd,
.recruit03 dl dd{
	padding-top: 0.5rem;
	margin-bottom: 2.25rem;
	font-size: 0.9rem;
}
.recruit02 dl dd:last-of-type,
.recruit03 dl dd:last-of-type{
	margin-bottom: 0;
}
.recruit02 dl dd ul,
.recruit03 dl dd ul{
	margin-left: 1.5rem;
}
.recruit02 .box dl dd ul.mt15,
.recruit03 .box dl dd ul.mt15{
	margin-top: 1.25rem;
}
.recruit02 dl dd ul li,
.recruit03 dl dd ul li{
	list-style-type: disc;
}
.recruit02 .box dl dd p + p,
.recruit03 .box dl dd p + p{
	margin-top: 1.25rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ recruit02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ recruit03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.recruit03{
	padding: 1.5rem 0 5rem;
}
.recruit03 h2{
	font-size: 1.4rem;
	color: var(--brown04);
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 0.5rem;
}
.recruit03 .txt p{
	text-align: center;
}
.recruit03 .box{
	position: relative;
	margin-top: 1.75rem;
}
.recruit03 .box .img_wrap{
	position: absolute;
	top: -0.75rem;
	left: 58.5%;
	max-width: 13rem;
	min-width: 9rem;
	width: 40%;
	z-index: 2;
}
.recruit03 .box .img_wrap .img{
	position: relative;
}
.recruit03 .box .img_wrap .img::before{
	position: absolute;
	content: '';
	top: 0.4rem;
	left: 0.4rem;
	width: 100%;
	height: 100%;
	background: #DBCBA6;
	z-index: 1;
}
.recruit03 .box .img img{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 2;
}
.recruit03 .box dl dd .txt_bold{
	display: block;
	font-weight: 700;
	margin-top: 1.25rem;
}
.recruit03 .box .contact_btn_wrap{
	margin-top: 3rem;
}
.recruit03 .box .contact_btn_wrap p{
	font-size: 0.9rem;
	text-align: center;
	margin-bottom: 1rem;
}
.recruit03 .box .contact_btn_wrap .btn_wrap .btn{
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,.1);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ recruit03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */




/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ プライバシーポリシー01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.privacypolicy01 .box{
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 1.5rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.1rem;
	margin: 2.5rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 1rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box p{
	margin: 0.5rem 0;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}